{% extends "base.html" %}

{% block title %}Alumni | STEM Club{% endblock %}

{% block head %}{% endblock %}

{% block body %}
<article>
    <h2>Alumni</h2>
    <p>
        These are former club members who have graduated.
    </p>
    <ul>
        <li>Andrew Zhang, class of 2020</li>
        <li>Rachel Wu, class of 2020</li>
        <li>Sebastian Angel, class of 2020</li>
        <li>Andy Chen, class of 2021</li>
    </ul>
</article>
{% endblock %}
