{% extends "base.html" %}

{% block title %}Classes | STEM Club{% endblock %}

{% block head %}{% endblock %}

{% block body %}
<h2>Classes</h2>
<ul class="no-bullets">
    <li>
        {% for class in classes %}
            <div>
                <h3>{{ class.name }}</h3>
                <p>{{ class.description }}</p>
            </div>
        {% endfor %}
    </li>
</ul>
{% endblock %}
