{% extends "base.html" %}

{% block title %}Contact | STEM Club{% endblock %}

{% block head %}{% endblock %}

{% block body %}
<article>
    <h2>Contact us</h2>
    <p>Email: <a href="mailto:churchillstemclub@gmail.com">churchillstemclub@gmail.com</a></p>
    <p>Instagram: <a href="https://www.instagram.com/churchillstem/">@churchillstem</a></p>
    <p>Join the club to receive information on joining our Google Classroom, Discord server, and email list.</p>
</article>
{% endblock %}
