{% extends "base.html" %}

{% block title %}Join STEM Club{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/style/join.css"/>
{% endblock %}

{% block body %}
<main>
    <h2>Join STEM Club!</h2>
    <p>Just fill out this form and you'll be a club member. We don't have club dues or mandatory meetings. You should receive an email shortly after submitting this form.</p>
    <form id="signup-form">
        <label for="full-name-input">Full name<span class="required-asterisk">*</span></label>
        <input type="text" name="full-name" id="full-name-input" required/>

        <label for="preferred-name-input">Preferred name</label>
        <input type="text" name="preferred-name" id="preferred-name-input"/>

        <label for="email-input">Personal email<span class="required-asterisk">*</span></label>
        <span>
            We will use this email when we need to contact you individually. If you opt in, we will also send
            announcements to this email.
        </span>
        <input type="email" name="email" id="email-input" pattern="^.+@((?!mcpsmd\.net).+\..+)$" title="Must be a valid, nonschool email" required/>

        <label for="school-id-input">Student ID number<span class="required-asterisk">*</span></label>
        <input type="number" name="school-id" id="school-id-input" minlength="6" maxlength="6" pattern="^[0-9]+$" title="Must be your six-digit school ID" required/>

        <label for="grade-input">Grade level (2020-2021)</label>
        <input type="number" name="grade" id="grade-input" min="9" max="12" title="Must be your grade level: 9, 10, 11, or 12"/>

        <div class="grouped">
            <label for="email-optin-input">Do you want us to send announcements to your email account?</label>
            <input type="checkbox" name="email-optin" id="email-optin-input"/>
        </div>
        <p>You can choose to receive announcements on other platforms regardless of this answer.</p>

        <input type="submit" value="Sign Up"/>
        <p>By submitting this form, you agree to our <a href="/privacy">Privacy Policy</a>.</p>
    </form>
    <div id="results"></div>
</main>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="/static/js/form.js"></script>
{% endblock %}
