{% extends "base.html" %}

{% block title %}Members | STEM Club{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/style/about.css" />
{% endblock %}

{% block body %}
<article>
    <h2>Members</h2>
    <p>
        These are some of the most engaged members of STEM Club.
        <!-- TODO: Add how to get on website -->
    </p>
    <ul class="no-bullets">
        <li>
            <h3 id="nathan">Nathan Varner (President)</h3>
            <!-- TODO: Add descriptions
            <p>
                Some description
            </p>
            -->
        </li>
        <li>
            <h3 id="nick">Nicholas Breymaier (Vice President)</h3>
        </li>
        <li>
            <h3 id="kobe">Kobe Wang (Secretary)</h3>
        </li>
        <li>
            <h3 id="lucy">Lucy Wu (Treasurer)</h3>
        </li>
        <li>
            <h3 id="edan">Edan Miller (Outreach)</h3>
        </li>
        <li>
            <h3 id="elizabeth">And last but not least, Elizabeth Qiu!! (a really cool member :p) (also she totally did not edit this)</h3>
        </li>
        and Andy Chen cuz he cool too
    </ul>
</article>
{% endblock %}
