/* Based on https://fontlibrary.org/face/bebusneuebold */
@font-face {
    font-family: 'BebasNeueBold';
    src: url('https://fontlibrary.org/assets/fonts/bebusneuebold/4c1631f8d4a029308bd7fb37d847fcf9/1e99b0442583593743adb5d91d7c0669/BebasNeueBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Based on https://fontlibrary.org/face/gidole-regular */
@font-face {
    font-family: 'GidoleRegular';
    src: url('https://fontlibrary.org/assets/fonts/gidole-regular/ef7019d028f3059ddb29cc01f2f47881/1810ef31ec03f69edc35c9ebf2909757/GidoleRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: optional;
}
